<%- include("partials/header") %>
<form action="/homelogin" method="post">
    <div class="buttoncontainer">
        <button type="submit" id="login" class="myButton">Login</button>
    </div>
</form>
<br>
<form action="/homesignup" method="post">
    <div class="buttoncontainer">
        <button type="submit" id="signup" class="myButton">Signup</button>
    </div>
</form>

<%- include("partials/footer") %>