<%- include("partials/header") %>
<form action="/signup" method="post">
            <label for="username">Create a Username:</label>
            <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" required>
            <br>
            <label for="lname">Create a password:</label>
            <input type="password" id="password" name="password" placeholder="Password" autocomplete="off">
            <small id="emailHelp" class="form-text text-muted">Should be at least 5 characters long!</small>
            <br>
            <button type="submit" class="myButton">Create Diary</button>
</form>

<%- include("partials/footer") %>